<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Condition X</th>
            <th scope="col">Condition Y</th>
            <th scope="col">Not X (!X)</th>
            <th scope="col">Not Y (!Y)</th>
            <th scope="col">X && Y</th>
            <th scope="col">X || Y</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row">
            <td>{{condX}}</td>
            <td>{{condY}}</td>
            <td>{{!condX}}</td>
            <td>{{!condY}}</td>
            <td>{{condX && condY}}</td>
            <td>{{condX || condY}}</td>
        </tr>
        <tr scope="row">
            <td>{{condXR2}}</td>
            <td>{{condYR2}}</td>
            <td>{{!condXR2}}</td>
            <td>{{!condYR2}}</td>
            <td>{{condXR2 && condYR2}}</td>
            <td>{{condXR2 || condYR2}}</td>
        </tr>
        <tr scope="row">
            <td>{{condXR3}}</td>
            <td>{{condYR3}}</td>
            <td>{{!condXR3}}</td>
            <td>{{!condYR3}}</td>
            <td>{{condXR3 && condYR3}}</td>
            <td>{{condXR3 || condYR3}}</td>
        </tr>
        <tr scope="row">
            <td>{{condXR4}}</td>
            <td>{{condYR4}}</td>
            <td>{{!condXR4}}</td>
            <td>{{!condYR4}}</td>
            <td>{{condXR4 && condYR4}}</td>
            <td>{{condXR4 || condYR4}}</td>
        </tr>

    </tbody>
</table>