<mat-toolbar color="dark" class="toolbar">
    <div class="row-one">
        <div class="container-padding">
            <span>r1c1</span>
        </div>
        <div id="r1c2" class="container-padding">
            <button (click)="navigateTo('')" class="nav-buttons" type="button" mat-raised-button color="warn">
                Home
            </button>
            <button (click)="navigateTo('courses')" class="nav-buttons" type="button" mat-raised-button color="light">
                Courses
            </button>
        </div>
        <div class="container-padding">
            r1c3
        </div>
    </div>
</mat-toolbar>